# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

example/qmake/cudaArchTool

qmake/cudaArchTool

context-scorer.pro.user

qmake/depend_context_scorer.pri

src/Homophonic_Alternatives_orj.cpp

3rdparty/build-lightseq-5_12_8_sys-Debug/

3rdparty/build-lightseq-5_12_8_sys-Release/

qmake/dummy.cu
